h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tl-grey-900);
}

hr {
  border-top: 1px solid var(--tl-grey-100);
  margin-block: var(--tl-size-15);
}

pre {
  --radius: var(--tl-radius-lg);
  background: var(--tl-cool-grey-900);
  color: white;
  padding: var(--tl-size-14) var(--tl-size-14);
  border-radius: var(--radius) var(--radius) 0 0;
  margin-bottom: 0;
  margin-top: var(--tl-size-13);
}

p code {
  display: inline-block;
  background: var(--tl-cool-grey-900);
  color: white;
  padding: var(--tl-size-0) var(--tl-size-7);
  border-radius: var(--tl-radius-sm);
}
