h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tl-grey-900);
}

body {
  overflow-x: hidden;
}

pre {
  --radius: var(--tl-radius-lg);
  background: var(--tl-cool-grey-900);
  color: white;
  padding: var(--tl-size-14) var(--tl-size-14) var(--tl-size-10);
  border-radius: var(--radius) var(--radius) 0 0;
  margin-bottom: 0;
  margin-top: var(--tl-size-13);
  overflow-x: scroll;
}

p code,
td code {
  display: inline-block;
  background: var(--tl-cool-grey-900);
  color: white;
  padding: var(--tl-size-0) var(--tl-size-4);
  border-radius: var(--tl-radius-sm);
}

td code {
  background: transparent;
  color: var(--tl-black-000);
  font-size: 0.8rem;
}

thead tr th:first-child {
  width: 10rem;
}

.play {
  perspective: 1000px;
  animation-name: slide;
  animation-duration: 2s;

  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: var(--ease);
}

.ease-sine-in {
  --ease: var(--tl-ease-sine-in);
}
.ease-sine-out {
  --ease: var(--tl-ease-sine-out);
}
.ease-sine-inout {
  --ease: var(--tl-ease-sine-inout);
}
.ease-circ-in {
  --ease: var(--tl-ease-circ-in);
}
.ease-circ-out {
  --ease: var(--tl-ease-circ-out);
}
.ease-circ-inout {
  --ease: var(--tl-ease-circ-inout);
}
.ease-quad-in {
  --ease: var(--tl-ease-quad-in);
}
.ease-quad-out {
  --ease: var(--tl-ease-quad-out);
}
.ease-quad-inout {
  --ease: var(--tl-ease-quad-inout);
}
.ease-cubic-in {
  --ease: var(--tl-ease-cubic-in);
}
.ease-cubic-out {
  --ease: var(--tl-ease-cubic-out);
}
.ease-cubic-inout {
  --ease: var(--tl-ease-cubic-inout);
}
.ease-quint-in {
  --ease: var(--tl-ease-quint-in);
}
.ease-quint-out {
  --ease: var(--tl-ease-quint-out);
}
.ease-quint-inout {
  --ease: var(--tl-ease-quint-inout);
}
.ease-quart-in {
  --ease: var(--tl-ease-quart-in);
}
.ease-quart-out {
  --ease: var(--tl-ease-quart-out);
}
.ease-quart-inout {
  --ease: var(--tl-ease-quart-inout);
}
.ease-expo-in {
  --ease: var(--tl-ease-expo-in);
}
.ease-expo-out {
  --ease: var(--tl-ease-expo-out);
}
.ease-expo-inout {
  --ease: var(--tl-ease-expo-inout);
}
.ease-back-in {
  --ease: var(--tl-ease-back-in);
}
.ease-back-out {
  --ease: var(--tl-ease-back-out);
}
.ease-back-inout {
  --ease: var(--tl-ease-back-inout);
}

@keyframes slide {
  to {
    margin-left: calc(100% - var(--tl-size-13));
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-4 {
  padding: var(--tl-size-4);
}
.p-7 {
  padding: var(--tl-size-7);
}
.p-13 {
  padding: var(--tl-size-13);
}

.py-0 {
  padding-top: var(--tl-size-0);
  padding-bottom: var(--tl-size-0);
}

.py-7 {
  padding-top: var(--tl-size-7);
  padding-bottom: var(--tl-size-7);
}

.py-14 {
  padding-top: var(--tl-size-14);
  padding-bottom: var(--tl-size-14);
}
.px-2 {
  padding-left: var(--tl-size-2);
  padding-right: var(--tl-size-2);
}
.px-7 {
  padding-left: var(--tl-size-7);
  padding-right: var(--tl-size-7);
}
.px-8 {
  padding-left: var(--tl-size-8);
  padding-right: var(--tl-size-8);
}

.px-12 {
  padding-left: var(--tl-size-12);
  padding-right: var(--tl-size-12);
}
.px-13 {
  padding-left: var(--tl-size-13);
  padding-right: var(--tl-size-13);
}

.px-16 {
  padding-left: var(--tl-size-16);
  padding-right: var(--tl-size-16);
}

.px-18 {
  padding-left: var(--tl-size-18);
  padding-right: var(--tl-size-18);
}

.pt-5 {
  padding-top: var(--tl-size-5);
}

.pt-8 {
  padding-top: var(--tl-size-8);
}

.pt-15 {
  padding-top: var(--tl-size-15);
}

.simplebar-scrollbar::before {
  background-color: var(--tl-teal-200);
}

.mb-2 {
  margin-bottom: var(--tl-size-2);
}

.ontop {
  z-index: 10000;
}

.mb-10 {
  margin-bottom: var(--tl-size-10);
}
.mb-13 {
  margin-bottom: var(--tl-size-13);
}
.mb-15 {
  margin-bottom: var(--tl-size-15);
}

.mb-19 {
  margin-bottom: var(--tl-size-19);
}

.primary-gradient {
  background-image: linear-gradient(
    to right,
    var(--tl-teal-400) 20%,
    var(--tl-green-200) 100%
  );
  color: var(--tl-white-000);
}

.graph {
  border: 2px solid var(--tl-teal-500);
  border-radius: var(--tl-radius-md);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232b9083' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.graph > * {
  outline: 2px solid var(--tl-purple-400);
}

.container {
  max-with: 100%;
}

.hide-l {
  margin-left: -100%;
}

.transition {
  transition: margin-left 300ms var(--ease, ease);
}

@media only screen and (min-width: 1280px) {
  .\@lg\:container {
    max-width: 70em;
  }

  .\@lg\:px-0 {
    padding-inline: var(--tl-size-0);
  }

  .\@lg\:pt-5 {
    padding-top: var(--tl-size-5);
  }

  .\@lg\:pt-8 {
    padding-top: var(--tl-size-8);
  }

  .\@lg\:pt-10 {
    padding-top: var(--tl-size-10);
  }
  .\@lg\:pt-15 {
    padding-top: var(--tl-size-15);
  }

  .\@lg\:show {
    margin-left: 0;
  }
}
