.overflow-y\:scroll {
  overflow-y: scroll;
}

.h-100vh {
  height: 100vh;
}
.top-0 {
  top: 0;
}

.w-13 {
  width: var(--tl-size-13);
}
.w-14 {
  width: var(--tl-size-14);
}
.w-15 {
  width: var(--tl-size-15);
}
.w-17 {
  width: var(--tl-size-17);
}
.w-18 {
  width: var(--tl-size-18);
}

.h-13 {
  height: var(--tl-size-13);
}
.h-14 {
  height: var(--tl-size-14);
}
.h-15 {
  height: var(--tl-size-15);
}
.h-17 {
  height: var(--tl-size-17);
}
.h-18 {
  height: var(--tl-size-18);
}
.min-h-100vh {
  min-height: 100vh;
}
.min-w-21 {
  min-width: var(--tl-size-21);
}
.w-5 {
  width: var(--tl-size-5);
}
.w-10 {
  width: var(--tl-size-10);
}
.w-15 {
  width: var(--tl-size-15);
}
.w-16 {
  width: var(--tl-size-16);
}
.w-17 {
  width: var(--tl-size-17);
}

.w-full {
  width: 100%;
}
.w-25\% {
  width: 25%;
}

.container {
  width: 80em;
}
.gap-4 {
  gap: var(--tl-size-4);
}
.gap-6 {
  gap: var(--tl-size-6);
}
.gap-8 {
  gap: var(--tl-size-8);
}
.gap-13 {
  gap: var(--tl-size-13);
}

.p-4 {
  padding: var(--tl-size-4);
}
.p-7 {
  padding: var(--tl-size-7);
}
.p-13 {
  padding: var(--tl-size-13);
}

.py-0 {
  padding-top: var(--tl-size-0);
  padding-bottom: var(--tl-size-0);
}
.py-14 {
  padding-top: var(--tl-size-14);
  padding-bottom: var(--tl-size-14);
}
.px-7 {
  padding-left: var(--tl-size-7);
  padding-right: var(--tl-size-7);
}

.px-12 {
  padding-left: var(--tl-size-12);
  padding-right: var(--tl-size-12);
}
.px-13 {
  padding-left: var(--tl-size-13);
  padding-right: var(--tl-size-13);
}

.pt-15 {
  padding-top: var(--tl-size-15);
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}

.r-sm {
  border-radius: var(--tl-radius-sm);
}
.r-md {
  border-radius: var(--tl-radius-md);
}
.shadow-1 {
  box-shadow: var(--tl-shadow-1);
}
.shadow-2 {
  box-shadow: var(--tl-shadow-2);
}

.m-0 {
  margin: 0;
}
.mx-10 {
  margin-left: var(--tl-size-10);
  margin-right: var(--tl-size-10);
}

.mb-2 {
  margin-bottom: var(--tl-size-2);
}

.mb-10 {
  margin-bottom: var(--tl-size-10);
}
.mb-13 {
  margin-bottom: var(--tl-size-13);
}
.mb-15 {
  margin-bottom: var(--tl-size-15);
}

.mb-19 {
  margin-bottom: var(--tl-size-19);
}

.mx\:auto {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.grid\:place-center {
  place-content: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex\:col {
  flex-direction: column;
}

.flex\:row {
  flex-direction: row;
}

.flex\:justify-center {
  justify-content: center;
}
.flex\:justify-between {
  justify-content: space-between;
}
.flex\:justify-around {
  justify-content: space-around;
}
.flex\:justify-even {
  justify-content: space-evenly;
}

.flex\:align-center {
  align-items: center;
}

.flex\:align-end {
  align-items: end;
}

.pointer {
  cursor: pointer;
}

.bg\:teal-300 {
  background-color: var(--tl-teal-300);
}
.bg\:teal-500 {
  background-color: var(--tl-teal-500);
}

.bg\:primary {
  background-color: var(--tl-semantic-primary);
}
.bg\:white-000 {
  background-color: var(--tl-white-000);
}
.bg\:white-100 {
  background-color: var(--tl-white-100);
}

.text\:white {
  color: white !important;
}

.list\:none {
  list-style: none;
}
.text-9 {
  font-size: var(--tl-size-9);
}
.text-10 {
  font-size: var(--tl-size-10);
}
.text-11 {
  font-size: var(--tl-size-11);
}
.text-12 {
  font-size: var(--tl-size-12);
}

.text-decoration\:none {
  text-decoration: none;
}

.text\:cool-grey-300,
.text\:cool-grey-300:visited {
  color: var(--tl-cool-grey-300);
}

.text\:cool-grey-500,
.text\:cool-grey-500:visited {
  color: var(--tl-cool-grey-500);
}

.text\:cool-grey-600,
.text\:cool-grey-600:visited {
  color: var(--tl-cool-grey-600);
}
.text\:grey-600 {
  color: var(--tl-grey-600);
}
.text\:grey-700 {
  color: var(--tl-grey-700);
}

.text\:grey-900 {
  color: var(--tl-grey-900);
}
.text\:black-000 {
  color: var(--tl-black-000);
}
